
#bgHomeScreen {
	position: fixed;
    height: 100%;
    z-index: 404;
    width: 100%;
    opacity: 0.75;
    background-color: #0088ff;		
}

#detailComponentId {
	color: #999999;
	font-size: 18px;
	font-weight: 300;
}

#placeholder {
	overflow: hidden
}

#foto {
	height: 200px;
}

body {
	color: #333333;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
	font-size: 13px;
	line-height: 18px;
}

.content {
	padding: 30px;
}

.observation-graph {
	width: 100%;
	height: 250px;
	font-size: 14px;
	line-height: 14px;
	overflow: auto;
}

.connecta-table-row {
	cursor: pointer;
}

.activity_text_element {
	line-height: 22px;
}

/* Home banners */
#banner1 {
	height: 120px; 420 px;
	min-width: 350px;
	background: url("../img/banner1.png") no-repeat center;
}

#banner2 {
	height: 120px; 420 px;
	min-width: 350px;
	background: url("../img/banner2.png") no-repeat center;
}

#banner3 {
	height: 120px; 420 px;
	min-width: 350px;
	background: url("../img/banner3.png") no-repeat center;
}

#home .accordion {
	margin-bottom: 0px;
}

.maphome {
	height: 400px;
}

.map1 {
	height: 450px;
}

.map2 {
	bottom: 10px;
    left: 10px;
    position: absolute !important;
    right: 10px;
    top: 44px;
    height:auto;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}

.input_location_map {
	height: 200px;
}

#map_canvas_1 img {
	max-width: none;
}

.btn-primary {
	color: #FFFFFF;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
	background-color: #47ABF1;
	*background-color: #47ABF1;
	background-image: -moz-linear-gradient(top, #47ABF1, #47ABF1);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#47ABF1),
		to(#47ABF1) );
	background-image: -webkit-linear-gradient(top, #47ABF1, #47ABF1);
	background-image: -o-linear-gradient(top, #47ABF1, #47ABF1);
	background-image: linear-gradient(to bottom, #47ABF1, #47ABF1);
	background-repeat: repeat-x;
	border-color: #47ABF1;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#47ABF1',
		endColorstr='#47ABF1', GradientType=0 );
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false );
}

.btn-primary:hover,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled]
	{
	color: #FFFFFF;
	background-color: #47ABF1;
	*background-color: #003bb3;
}

.btn-danger {
	color: #FFFFFF;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
	background-color: #F55056;
	*background-color: #F55056;
	background-image: -moz-linear-gradient(top, #F55056, #F55056);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F55056),
		to(#F55056) );
	background-image: -webkit-linear-gradient(top, #F55056, #F55056);
	background-image: -o-linear-gradient(top, #F55056, #F55056);
	background-image: linear-gradient(to bottom, #F55056, #F55056);
	background-repeat: repeat-x;
	border-color: #F55056;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F55056',
		endColorstr='#F55056', GradientType=0 );
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false );
}

.btn-danger:hover,.btn-danger:active,.btn-danger.active,.btn-danger.disabled,.btn-danger[disabled]
	{
	color: #FFFFFF;
	background-color: #F55056;
	*background-color: #003bb3;
}

.btn-success {
	color: #FFFFFF;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
	background-color: #009e8e;
	*background-color: #009e8e;
	background-image: -moz-linear-gradient(top, #009E8E, #009e8e);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#009E8E),
		to(#009e8e) );
	background-image: -webkit-linear-gradient(top, #009E8E, #009e8e);
	background-image: -o-linear-gradient(top, #009E8E, #009e8e);
	background-image: linear-gradient(to bottom, #009E8E, #009e8e);
	background-repeat: repeat-x;
	border-color: #009e8e;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009E8E',
		endColorstr='#009e8e', GradientType=0 );
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false );
}

.btn-success:hover,.btn-success:active,.btn-success.active,.btn-success.disabled,.btn-success[disabled]
	{
	color: #FFFFFF;
	background-color: #009e8e;
	*background-color: #003bb3;
}

.btn-file {
        position: relative;
        overflow: hidden;
 }
 .btn-file input[type=file] {
     position: absolute;
     top: 0;
     right: 0;
     min-width: 100%;
     min-height: 100%;
     font-size: 100px;
     text-align: right;
     filter: alpha(opacity=0);
     opacity: 0;
     outline: none;
     background: white;
     cursor: inherit;
     display: block;
 }

.hero-unit {
	position: fixed;
	z-index: 1;
	padding: 60px;
	margin-bottom: 30px;
	font-size: 24px;
	font-weight: 400;
	line-height: 27px;
	color: #fff;	
	background-color: transparent;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.main {	
	height: 50px;
	margin: 0px -20px;
	width: 400px;
	position: absolute;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}


.navbar .brand {
	color: #777777;
	display: block;
	float: left;
	font-size: 20px;
	font-weight: 200;
	margin-left: 100px;
	padding: 12px 20px;
	text-shadow: 0 1px 0 #FFFFFF;
}

.navbar .nav {
	margin: 0px;
}

.navbar .nav>li>a {
	padding: 14px 15px 11px;
}

navbar .nav > li > a {
    text-shadow: none;
}

.navbar .btn,.navbar .btn-group,.navbar .navbar-search {
	margin-top: 7px;
}

.navbar .badge {
	padding-left: 7px;
	padding-right: 7px;
}

.navbar .logotype {
 	background: url("../img/logo_header.png");
 	background-repeat: no-repeat;
 	background-size: 132px 45px;
 	background-position: 0px 0px;
 	display: block;
 	height: 50px;
	margin-left: 10px;
 }

ul.nav li.dropdown>ul.dropdown-menu {
	margin-top: -4px
}

ul.nav li.dropdown:hover>ul.dropdown-menu {
	display: block;
}

#menu-left {
	margin-top: 55px;
}

.stats {
	font-size: 32px;
	font-weight: bold;
	line-height: 32px;
	text-align: center;
	width: 100%;
}

.stats-sub {
	font-size: 16px;
	font-weight: bold;
	white-space: nowrap;
}

/* revert css changes in 2.2.1 back to 2.0.4. @basefontsize:13px , @baselineheight:18px */
.lead {
	margin-top: 0px;
	font-weight: 300;
}

.label,.badge {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: inline-block;
	padding: 2px 8px;
	font-size: 11.844px;
	font-weight: bold;
	line-height: 14px;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #ccc;
}

.label-info,.badge-info {
	background-color: #47abf1;
}

.label-success,.badge-success {
	background-color: #5ad3bb;
}

.label-important,.badge-important {
	background-color: #f55056;
}

.type-icon {
	padding-right: 10px
}

.poi-infowindow-arrow {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    bottom: -37px;
    position: relative;
}
.poi-infowindow-arrow:after, .poi-infowindow-arrow:before {
    border: medium solid transparent;
    content: " ";
    height: 0;
    left: 50%;
    pointer-events: none;
    position: absolute;
    width: 0;
}
.poi-infowindow-arrow:after {
    border-color: white transparent transparent;
    border-width: 30px;
    margin-left: -30px;
    margin-top: -10px;
}
.poi-infowindow-arrow:before {
    border-color: rgba(0, 0, 0, 0.1) transparent transparent;
    border-width: 30px;
    margin-left: -30px;
}
.infobox {
	display: inline-block;
    background-clip: padding-box;
    background-color: #ffffff;
    border: 7px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    box-shadow: none;
    color: #000;
    margin: 0 auto;
    min-width: 180px;
    padding: 5px 5px 30px;
    position: relative;
    text-align: right;    
    z-index: 1000;
}
.infobox-content {
    padding: 10px;
}
.infobox-body {
    max-height: 210px;    
    width: 100% !important;
}
.infobox-body p {
    font-size: 24px;
    font-weight: lighter;
    line-height: 26px;
    margin: 0;
    max-width: 180px;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 0;
    padding-top: 15px;
    text-align: right;
    text-overflow: ellipsis;
}
.infobox-footer {
    bottom: 5px;
    color: #aaa;
    font-weight: 100;
    left: 10px;
    line-height: 17px;
    margin: 0;
    position: absolute;
}
.infobox-header {
    font-size: 22px;
    text-align: left;
    overflow: hidden;  
}

.infobox-header p{    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 2px 0px;
}

.infobox-header-icon {
    float: left;
    padding-right: 20px;
}
.infobox-header-name {
    display: inline-flex;
    font-size: 25px;
    font-weight: 400;
    padding-top: 10px;     
}
.infobox-header-type {
    font-size: 18px;
    font-weight: 100;
    margin-top: -5px;
}
.infobox-header h3 {
    clear: both;
    font-size: 17px;
    font-weight: 100;
    letter-spacing: -0.025em;
    line-height: 1.08333em;
    margin: 0 15px 0 80px;
    min-height: 1.16667em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.infobox-header a {
    display: block;
    text-align: left;
    text-decoration: none;
}
.infobox h2 {
    font-size: 12px;
    margin: 0;
    text-align: center;
}
.infobox .label-info {
    background-color: transparent;
    color: #aaa;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    margin-top: -10px;
    max-width: 120px;
    overflow: hidden;
    padding: 0 0 0 15px;
    text-align: right;
    text-overflow: ellipsis;
    text-shadow: none;
    vertical-align: baseline;
    white-space: nowrap;
}
.infobox-body-column {
    float: right;
    font-size: 24px;
    font-weight: lighter;
    line-height: 26px;
    margin: 0;
    max-width: 180px;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    text-align: right;
    text-overflow: ellipsis;
}

.infobox-body-column > p.offline {
	color: #ccc
}

h1 small {
	font-size: 18px;
	font-weight: 300;
}

h4 {
	font-size: 14px;
}

.navbar-search .search-query {
	width: 100px;
	margin-top: 1px;
	border-radius: 3px;
}

.tooltip {
	line-height: 18px;
}
/* end revert */

/* demo custom styles */
.modal-backdrop,.modal-backdrop.fade.in {
	opacity: 0.5;
}

.content {
	background-color: white;
	padding: 20px;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}

#map_controls {
	position: absolute;
	z-index: 1;
	top: 54px;
	right: 20px;    
}

#map_controls img {
	margin-bottom: -4px;
	margin-top: -6px;
	padding-right: 10px;
	width: 21px;
}

#map_controls ul img {
	margin: 0px;
	width: 28px;
}

.connecta-icon-dropdown-menu {
	min-width: 21px;
	height:200px;
	overflow-y: scroll;
}

.connecta-icon-left {
	float: left !important;	
}

.connecta-icon-group {
	float: right;
	margin-left: 2px;
}

.connecta-icon-group img {
	margin-bottom: -4px;
	margin-top: -6px;
	padding-right: 10px;
	width: 21px;
}

.mapcontent {
	background-color: white;
	padding: 64px 20px 20px 20px;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}

.connecta-icon-black {
	color: black;
}

.connecta-icon-location {
	background: url("../img/gps_location.png") no-repeat center center;
}

html,body {
	background-color: #f0f0f0;
}

footer {
	margin: 40px 0px 0px 0px;
	padding: 20px 40px;
}

.connecta-icon-sharethis {
	padding: 15px 2px;
	margin: -15px 2px;
	opacity: 0.2;
	background: url("../img/glyphicons_415_share.png") no-repeat scroll left
		center transparent;
	min-height: 24px;
	min-width: 24px;
}

.connecta-icon-vimeo {
	border-right: 1px solid black;
	padding: 15px 30px 15px 2px;
	margin: -15px 20px 0 2px;
	opacity: 0.2;
	background: url("../img/glyphicons_414_vimeo.png") no-repeat scroll left
		center transparent;
	min-height: 24px;
	min-width: 24px;
}

.connecta-icon-rss {
	padding: 15px 2px;
	margin: -15px 2px;
	opacity: 0.2;
	background: url("../img/glyphicons_417_rss.png") no-repeat scroll left
		center transparent;
	min-height: 24px;
	min-width: 24px;
}

.connecta-icon-twitter {
	padding: 15px 2px;
	margin: -15px 2px;
	opacity: 0.2;
	background: url("../img/glyphicons_411_twitter.png") no-repeat scroll
		left center transparent;
	min-height: 24px;
	min-width: 24px;
}

.connecta-icon-sharethis:hover {
	opacity: 0.8;
	background: url("../img/glyphicons_415_share_c.png") no-repeat scroll
		left center transparent;
}

.connecta-icon-vimeo:hover {
	border-right: 1px solid #aaa;
	opacity: 0.8;
	background: url("../img/glyphicons_414_vimeo_c.png") no-repeat scroll
		left center transparent;
}

.connecta-icon-rss:hover {
	opacity: 0.8;
	background: url("../img/glyphicons_417_rss_c.png") no-repeat scroll left
		center transparent;
}

.connecta-icon-twitter:hover {
	opacity: 0.8;
	background: url("../img/glyphicons_411_twitter_c.png") no-repeat scroll
		left center transparent;
}

.logo {
	opacity: 0.2;
	background: url("../img/cassiopeia_gray.png") no-repeat scroll right
		center transparent;
	min-height: 100px;
	min-width: 150px;
	background-size: 100%
}

.logo_footer {
	background: url("../img/logo_cityprotocol_foot.png") no-repeat scroll
		center transparent;
	min-height: 53px;
	min-width: 116px;
	background-size: 100%;
	margin-top: -10px;
}

select {
	width: auto
}

.editable:hover {
	background: #ddd;
	cursor: pointer;
}

.editable a {
	color: black;
	text-decoration: none;
}

h1 [class^="icon-"]:hover,h1 [class*=" icon-"]:hover {
	opacity: 1;
}

h1 [class^="icon-"],h1 [class*=" icon-"] {
	opacity: 0.3;
}

@media ( max-width : 979px) {
	.logo {
		margin-top: -5px;
	}
	.content {
		padding-top: 0px;
	}
	.navbar-fixed-top .navbar-inner,.navbar-fixed-bottom .navbar-inner {
		padding: 0px;
	}
	/*.main:hover {
		background: url("../img/logo-connecta-url.png") no-repeat scroll -268px -2px transparent;
	}*/
}

@media ( max-width : 767px) {
	.navbar .brand {
		margin-left: 120px;
	}
	.main {
		margin: 0px;
	}
	/*.main:hover {
		background: url("../img/logo-connecta-url.png") no-repeat scroll -268px -2px transparent;
	}*/
}

.accordion-inner ul {
	list-style-type: none;
	margin: 0px;
}

.accordion-inner li {
	line-height: 22px;
}

.accordion-heading .nav-pills {
	margin-top: -5px;
	font-size: 12px;
	text-shadow: none;
	font-weight: 300;
}

.accordion-heading .nav-pills>li>a {
	height: 18px;
	padding-top: 4px;
	padding-bottom: 3px;
	font-size: 14px;
	text-shadow: none;
}

.accordion-heading .nav-pills .badge {
	float: right;
	margin-right: -6px;
	margin-top: -12px;
}

.accordion-heading .nav>li>a:hover {
	text-decoration: none;
	color: #fff;
	background-color: #aaa;
}

.accordion-heading .nav .dropdown-toggle .caret {
	border-top-color: #aaa;
	border-bottom-color: #aaa;
}

.accordion-heading .nav .active .dropdown-toggle .caret {
	border-top-color: #fff;
	border-bottom-color: #fff;
}

.accordion-heading .accordion-toggle {
	background: #e8e8e8;
	text-shadow: 1px 1px #888;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 16px;
	line-height: 16px;
	color: #646464;
	font-weight: lighter;
	text-shadow: 0px 1px 0px #fff;
	height: 20px;
	border-bottom: 1px solid #ddd;
	margin-bottom: -1px;
	padding: 10px;
	background-color: #fafafa;
	background-image: -moz-linear-gradient(top, #fafafa, #efefef);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa),
		to(#efefef) );
	background-image: -webkit-linear-gradient(top, #fafafa, #efefef);
	background-image: -o-linear-gradient(top, #fafafa, #efefef);
	background-image: linear-gradient(to bottom, #fafafa, #efefef);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa',
		endColorstr='#efefef', GradientType=0 );
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 2px 2px 0px 0px;
	-moz-border-radius: 2px 2px 0px 0px;
	border-radius: 2px 2px 0px 0px;
}

.accordion-heading .accordion-toggle i {
	opacity: .4;
	padding: 0 2px;
	margin-top: 3px;
}

.accordion-body .accordion-inner {
	padding: 15px;
	border-top: none;
}

.accordion-tall {
	height: 225px;
}

.accordion-heading a {
	color: #888;
}

.nopadding {
	padding: 0px;
}

#menu-left .nav-list a.current {
	background-color: #222;
	border: 1px solid #222;
	color: white;
	text-shadow: none;
}
/* notification demo styles */
.noty .btn.alert {
	margin-bottom: 0;
	padding: 4px 10px;
	border-color: #CCC #CCC #B3B3B3;
	color: #333;
}

.container-fluid {
	max-width: inherit;
	margin: 0 auto;
	padding-left: 30px;
	padding-right: 30px;
}

/********** Color picker **********/
.input-group-addon > i {
    border: 1px solid;
    margin: 0 5px;
    padding: 1px;
}

/********** Redefine map controls style **********/

#map_controls .btn, #map_controls input {
    direction: ltr;
    overflow: hidden;
    text-align: center;
    position: relative;
    color: rgb(0, 0, 0);
    border-color:transparent;
    font-family: Roboto, Arial, sans-serif;
    -webkit-user-select: none;
    font-size: 11px;
    padding: 6.9px;
    border-radius: 2px;
    -webkit-background-clip: padding-box;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px -1px;
    min-width: 40px;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
    background-image:none;
}
#map_controls .dropdown-menu {
    overflow: hidden;
    color: rgb(0, 0, 0);
    border-color:transparent;
    font-family: Roboto, Arial, sans-serif;
    -webkit-user-select: none;
    font-size: 13px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px -1px;
    min-width: 40px;
    font-weight: 300;
    padding-right:30px;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 0px; /* Chrome, Safari, Opera */
    -moz-column-gap: 0px; /* Firefox */
    column-gap: 0px;
    
}

#map_controls .dropdown-menu li>a {
	display: block;
	padding: 3px 40px 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 20px;
	color: #333;
	white-space: nowrap;
	overflow: visible;
}

#map_controls input {font-weight: 300;}
#map_controls .add-on {display:none;}
#map_controls .connecta-icon-location {padding: 8px;}

/********** Responsive media queries ****************/
@media (max-width: 979px) { 
	.infobox,
	.infobox-body {
		max-width: 188px;
	}
}

@media (min-width: 980px) and (max-width: 1279px) { 
	.infobox,
	.infobox-body {
		max-width: 368px;
	}
}

@media (min-width: 1280px) { 
	.infobox,
	.infobox-body {
		max-width: 548px;
	}
}


/* Chart controls for graphics */
.component-chart-controls {
	margin: 0px;
	padding: 0px;
}

/* Public component last observations */
#componentLastObsValue pre.parsed-json {
	height: 120px;
    overflow: auto;
    margin: 0;
    font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif !important;
    font-size: 13px !important;
}

#componentLastObsValue .btn-toolbar {
	margin-top: 20px;
}

#componentLastObsValue #levels {
	width: 20px;
	margin: 0 0 0 5px;
	text-align: center;
}

/* Private sensor last observations */
#sensorLastObsValue pre.parsed-json {
	/* min-height: 120px; */
	max-height: 300px;
    overflow: auto;
    margin: 0;
	font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif !important;
    font-size: 13px !important;
}

#sensorLastObsValue .btn-toolbar {
	margin-top: 20px;
}

#sensorLastObsValue #levels {
	width: 20px;
	margin: 0 0 0 5px;
	text-align: center;
}

/* 	Sobreescribim els estils del td de datatables per a aconseguir
	que el text de les capçaleres no es superposi a les icones d'ordenació */
table.dataTable td {
    padding: 8px 20px 8px 8px;
}

/* Make dataTables scrollable horizantally */
.dataTable-overfow-wrapper {
     width: 100%;
}
.dataTable-overfow {
	overflow-x: auto;
}

.tooltip-icon {
	font-size: 14px;
	padding: 5px;
}
