#tree {
	height: calc(100vh - 205px);
	overflow-y: auto; 
}

#tree ul {
	list-style: none;
}

#tree .jtree_node_open {
    display: inline-block;
    background-image: url('../img/treejs-icons.png');
    background-position: -32px 4px;
    width: 20px;
    height: 24px;
}

#tree .jtree_node_close {
    display: inline-block;
    background-image: url('../img/treejs-icons.png');
    background-position: 0px 2px;
    width: 20px;
    height: 24px;
}

#tree .jtree_parent_node,
#tree .jtree_check_all_node {
	/* border: 1px solid;
	margin: 15px 0px;
	padding: 5px 5px 15px 5px; */
	margin: 0px !important;
}

#tree .jtree_parent_node label,
#tree .jtree_check_all_node label {
	display: inline;
}

#tree input {
	margin: 0;
	padding: 0;
}

#tree .jtree_child_node {
	margin: 10px 0;
    background: #fafafa;
}

#tree ul.jtree_child_node.types-group {
    /*margin: 18px 0;*/
}

#tree .check-all-node {
	margin-left: 23px !important;
}

#tree #check-all-input {
	margin-right: 2px;
}

#tree .type-icon {
  	height: 25px;
  	margin: 0px;
	padding-left: 5px;
    padding-right: 5px;
}

#tree .type-option {
    padding: 5px 10px 5px 24px;
}

#tree .type-option:hover {
    background: #f0f0f0;
}

#tree .type-label {
    font-weight: 400;
    width: 100%;
	min-width: 250px;
}

#tree .type-label input[type="checkbox"] {
    float: right;
    margin-top: 6px;
    margin-left: 10px;
}

#tree label.category-label {
	font-weight: 600;
}

#tree label.category-label,
#tree label.type-label {
    vertical-align: bottom;
    font-size: 14px;
    line-height: 16px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block !important;
    max-width: -webkit-fill-available;
    margin-bottom: 0px;
}

#tree::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 3px;
    height: 4px;
    background-color: rgba(50, 50, 50, 0.1);
    margin: 0
}

#tree::-webkit-scrollbar-thumb {
    background-color: rgba(50, 50, 50, 0.5);
}