<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- Unset to avoid file renaming errors: http://logback.qos.ch/codes.html#renamingError -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover and compression of rollover files -->
			<fileNamePattern>/var/log/sentilo/sentilo-platform-%d{yyyy-MM-dd}-%i.log.gz</fileNamePattern>
			<!-- Limits log file size up to a maximum of 10MB -->
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>

			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%d [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="MONITOR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- Unset to avoid file renaming errors: http://logback.qos.ch/codes.html#renamingError -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover and compression of rollover files -->
			<fileNamePattern>/var/log/sentilo/monitor-sentilo-platform-%d{yyyy-MM-dd}-%i.log.gz</fileNamePattern>
			<!-- Limits log file size up to a maximum of 10MB -->
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>

			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%d [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>


	<logger name="org.sentilo.platform.service.listener.ConnectionMonitorListener" level="DEBUG" additivity="false">
		<appender-ref ref="MONITOR_FILE" />
	</logger>

	<logger name="org.springframework.data.redis.listener" level="DEBUG" additivity="false">
		<appender-ref ref="MONITOR_FILE" />
	</logger>

	<logger name="org.sentilo" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</logger>


	<root level="WARN">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>

</configuration>